body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 0;
}

h1 {
  text-align: center;
  /* margin-bottom: 30px; */
}

#datepicker {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#openSpreadsheetBtn,
#saveDataBtn,
#resetFormBtn,
#showDataBtn,
#cancelSpreadsheetBtn, #homebutton{
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 10px;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

#openSpreadsheetBtn:hover,
#saveDataBtn:hover,
#resetFormBtn:hover,
#showDataBtn:hover,
#cancelSpreadsheetBtn:hover {
  background-color: #45a049;
}

#openSpreadsheetBtn {
  background-color: #008CBA;
}

#openSpreadsheetBtn:hover {
  background-color: #0073ba;
}

#cancelSpreadsheetBtn {
  display: none;
  background-color: #f44336;
}

#cancelSpreadsheetBtn:hover {
  background-color: #da190b;
}

#spreadsheetContainer {
  display: none; 
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  /* padding: 20px; Added padding to match previous styles */
  border-radius: 5px;
}

#dateDropdown {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 8px;
  font-size: 16px;
  margin-top: 20px;
  box-sizing: border-box;
}
#saveDataBtn {
display: none; /* Hide save button by default */
}

.spreadsheet-wrapper {
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 5px;
  }

  .button-area {
    text-align: center;
    margin-top: 20px;
  }

  .button-area button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .button-area button:hover {
    background-color: #45a049;
  }




  /* for model  */

    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    #bloxNameModal {
      display: none;
      /* Initially hide modal */
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      /* Semi-transparent background */
      z-index: 1000;
      /* Ensure modal appears above other content */
      overflow: auto;
      padding-top: 50px;
      /* Space for modal header */
    }

    .bloxNameModal-content {
      background-color: #fefefe;
      margin: 10% auto;
      /* Center modal on the screen */
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      /* 80% of the screen width */
      max-width: 600px;
      /* Maximum width of the modal */
    }

    .bloxNameModal-close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .bloxNameModal-close:hover,
    .bloxNameModal-close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    #bloxNameForm {
      max-height: 400px;
      /* Limit height of the form within the modal */
      overflow-y: auto;
      /* Enable scrolling if form exceeds max height */
    }
    h2{
      text-align: center;
      color: grey;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 15px;
    }


/* Centered content */


/* Notes Input */
#notes {
  width: calc(50% - 20px); /* Adjust width minus padding */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Allow vertical resizing */
  margin-bottom: 20px;
}

/* Labels */




#login {
  display: none;
  /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1001;
}


#login h3 {
  margin: 0 0 10px;
}

#login input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

#login button {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}