body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 0;
}

h1 {
  text-align: center;
  /* margin-bottom: 30px; */
}

#datepicker {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#openSpreadsheetBtn,
#saveDataBtn,
#resetFormBtn,
#showDataBtn,
#cancelSpreadsheetBtn, #homebutton{
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 10px;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

#openSpreadsheetBtn:hover,
#saveDataBtn:hover,
#resetFormBtn:hover,
#showDataBtn:hover,
#cancelSpreadsheetBtn:hover {
  background-color: #45a049;
}

#openSpreadsheetBtn {
  background-color: #008CBA;
}

#openSpreadsheetBtn:hover {
  background-color: #0073ba;
}

#cancelSpreadsheetBtn {
  display: none;
  background-color: #f44336;
}

#cancelSpreadsheetBtn:hover {
  background-color: #da190b;
}

#spreadsheetContainer {
  display: none; 
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  /* padding: 20px; Added padding to match previous styles */
  border-radius: 5px;
}

#dateDropdown {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 8px;
  font-size: 16px;
  margin-top: 20px;
  box-sizing: border-box;
}
#saveDataBtn {
display: none; /* Hide save button by default */
}

.spreadsheet-wrapper {
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 5px;
  }

  .button-area {
    text-align: center;
    margin-top: 20px;
  }

  .button-area button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .button-area button:hover {
    background-color: #45a049;
  }

